.head-bar {
  background-color: #569C87;
  display: flex;
  justify-content: center;
  height: 100px; }
  @media screen and (min-width: 2560px) {
    .head-bar {
      height: 300px; } }
  .head-bar img {
    height: 75px;
    width: 500px;
    padding-top: 20px; }
    @media screen and (min-width: 2560px) {
      .head-bar img {
        height: 200px;
        width: 1000px;
        padding-top: 70px; } }
    @media screen and (max-width: 768px) {
      .head-bar img {
        width: inherit; } }
    @media screen and (max-width: 375px) {
      .head-bar img {
        width: 300px; } }

.fa-music {
  background: -webkit-gradient(linear, left top, left bottom, from(#D88530), to(#F05561));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer h2 {
    margin-left: 10px; }

.footer-bar {
  background-color: #569C87;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  border-top: 0.5px solid #FCCB44;
  font-size: auto; }
  .footer-bar__link {
    margin: 20px 5px; }
    .footer-bar__link:hover {
      animation: shake 0.5s infinite; }
    .footer-bar__link a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      color: #FCCB44; }
      @media screen and (min-width: 2560px) {
        .footer-bar__link a {
          font-size: 100px; } }
      @media screen and (max-width: 425px) {
        .footer-bar__link a {
          font-size: inherit; } }

@keyframes ellipsis {
  0% {
    width: 0; }
  100% {
    width: 0.9em; } }
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
* {
  margin: 0; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% auto;
  position: relative; }

.fa-music {
  background: -webkit-gradient(linear, left top, left bottom, from(#D88530), to(#F05561));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.resto-note {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #FCE1DD; }
  @media screen and (min-width: 2560px) {
    .resto-note {
      font-size: 46px;
      width: 800px;
      height: 1000px;
      margin: 100px; } }
  @media screen and (max-width: 1060px) {
    .resto-note {
      width: 350px;
      height: 450px; } }
  @media screen and (max-width: 425px) {
    .resto-note {
      width: 350px;
      margin: 10px; } }
  @media screen and (max-width: 375px) {
    .resto-note {
      width: 300px; } }
  @media screen and (max-width: 320px) {
    .resto-note {
      width: 250px;
      height: 350px; } }
  .resto-note a {
    text-decoration: none;
    color: #60393D;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-note a:hover {
      transform: scale(1.03);
      filter: brightness(110%); }
    .resto-note a h2 {
      font-family: "Niconne", cursive; }
    .resto-note a h3 {
      font-family: "Tillana", cursive; }

.resto-chic {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #FEF5FF; }
  @media screen and (min-width: 2560px) {
    .resto-chic {
      font-size: 46px;
      width: 800px;
      height: 1000px;
      margin: 100px; } }
  @media screen and (max-width: 1060px) {
    .resto-chic {
      width: 350px;
      height: 450px; } }
  @media screen and (max-width: 425px) {
    .resto-chic {
      width: 350px;
      margin: 10px; } }
  @media screen and (max-width: 375px) {
    .resto-chic {
      width: 300px; } }
  @media screen and (max-width: 320px) {
    .resto-chic {
      width: 250px;
      height: 350px; } }
  .resto-chic a {
    text-decoration: none;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-chic a:hover {
      transform: scale(1.03);
      filter: brightness(110%); }
    .resto-chic a h2 {
      font-family: "Croissant One", cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(165deg, #e38a12 16%, #8f5aff 82%); }
    .resto-chic a h3 {
      font-family: "Merriweather", serif;
      color: #e38a12; }

.resto-delice {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #F9F9F9; }
  @media screen and (min-width: 2560px) {
    .resto-delice {
      font-size: 46px;
      width: 800px;
      height: 1000px;
      margin: 100px; } }
  @media screen and (max-width: 1060px) {
    .resto-delice {
      width: 350px;
      height: 450px; } }
  @media screen and (max-width: 425px) {
    .resto-delice {
      width: 350px;
      margin: 10px; } }
  @media screen and (max-width: 375px) {
    .resto-delice {
      width: 300px; } }
  @media screen and (max-width: 320px) {
    .resto-delice {
      width: 250px;
      height: 350px; } }
  .resto-delice a {
    text-decoration: none;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-delice a:hover {
      transform: scale(1.03);
      filter: brightness(110%); }
    .resto-delice a h2 {
      font-family: "Niconne", cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(165deg, #4791F3 16%, blue 82%); }
    .resto-delice a h3 {
      font-family: "Bad Script", cursive;
      color: #4791F3; }

.resto-palette {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #FDFFFD; }
  @media screen and (min-width: 2560px) {
    .resto-palette {
      font-size: 46px;
      width: 800px;
      height: 1000px;
      margin: 100px; } }
  @media screen and (max-width: 1060px) {
    .resto-palette {
      width: 350px;
      height: 450px; } }
  @media screen and (max-width: 425px) {
    .resto-palette {
      width: 350px;
      margin: 10px; } }
  @media screen and (max-width: 375px) {
    .resto-palette {
      width: 300px; } }
  @media screen and (max-width: 320px) {
    .resto-palette {
      width: 250px;
      height: 350px; } }
  .resto-palette a {
    text-decoration: none;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-palette a:hover {
      transform: scale(1.03);
      filter: brightness(110%); }
    .resto-palette a h2 {
      font-family: "Kaushan Script", cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(165deg, #42d691 16%, green 82%); }
    .resto-palette a h3 {
      font-family: "Bad Script", cursive;
      color: #42d691; }

.annonce {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  font-size: 30px;
  background-color: #569C87;
  border: 0.3px solid #FCCB44;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #FCCB44; }
  @media screen and (min-width: 2560px) {
    .annonce {
      height: 150px;
      width: 1000px;
      margin: 300px auto; } }
  @media screen and (min-width: 2560px) {
    .annonce {
      font-size: 100px; } }
  @media screen and (max-width: 425px) {
    .annonce {
      font-size: inherit; } }
  .annonce p {
    margin: auto; }
    .annonce p::after {
      content: "\2026";
      position: absolute;
      padding-left: 5px;
      overflow: hidden;
      animation: ellipsis steps(4) 1.3s infinite; }

/*# sourceMappingURL=base-style.css.map */
