@import'variable.scss','mixin.scss','layout.scss';
*{
	margin: 0;
}
main{
	display: flex;
	flex-direction: column;

background-color: $background-secondary;
color:$color-primary ;
justify-content: center;
text-align: center;
font-family: $font-primary;
	font-size:  18px;
	margin-bottom: 5%;

	@media screen and (min-width: 1024px){
		font-size: -webkit-xxx-large;
	}
    
@media screen and (maxwidth: 1024px){
	font-size:  -webkit-large;}
	@media screen and (min-width: 420px){
		font-size:  -webkit-small;}



 

}
 main p{
	width: 70%;
	text-align: left;
	margin: auto;
	margin-bottom: 4%;
	}