@import'variable.scss','mixin.scss','layout.scss';
*{
	margin: 0;
}
main{
	display: flex;
	flex-direction: column;

background-color: $background-secondary;
color:$color-primary ;
justify-content: center;
text-align: center;
font-family: $font-primary;




}
 main p{
	width: 70%;
	text-align: left;
	margin: auto;
	margin-bottom: 2%;


}