
@import 'variable.scss','mixin.scss','layout.scss','pages';

@keyframes ellipsis {
  0% {
    width: 0;
  }

  100% {
    width: 0.9em;
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

*
{
	margin: 0
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;



}

main{
	text-align: center;
	margin :auto;
	width: 80%;
  height: 80%;
  padding-bottom: 50px;

  font-size: 40px;
  margin-bottom: 100px;
  @media screen and (min-width: 2560px){
  font-size: 50px;}
  @media screen and (max-width: 1024px){
  font-size: 25px;}
  @media screen and (max-width: 768px){
  font-size: 17px;}
  @media screen and (max-width: 425px){
  font-size: 10px;}
  @media screen and (max-width: 375px){
  font-size :7px;}
  @media screen and (max-width: 320px){
  font-size :6px;}
   @include box-shadow
  }
  .nom
  {
    text-align: center;
    font-family:$font-primary;
    margin:  50px 0;

    

    }


.titre-principal{
@include titre-principal-margin;

    }

.categorie__titre 
{
  display: flex;
  width: 80%;
  margin: auto;
  h3{

    width: 60%;
    font-size: 25px;
    margin-bottom: 40px;
    @media screen and (min-width: 2560px){
      font-size: 50px}
      @media screen and (max-width: 1024px){
        font-size: 23px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 768px){
        font-size: 17px;
      }   
      @media screen and (max-width: 425px){
        font-size: 10px;
        margin-bottom: 10px;
      }  
      @media screen and (max-width: 375px){
        font-size: 8px;} 
        @media screen and (max-width: 320px){
          font-size :7px;}

        }


      }
.categorie-plat 
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  text-align: left; 
  margin: auto;
  font-size: 16px;
  @media screen and (min-width: 2560px)
  {
    font-size: 35px}

    @media screen and (max-width: 1024px)
    {
      margin: auto;
      text-align: center;
      font-size: 12px;    
      width: 90%}
      @media screen and (max-width: 768px)
      {
        font-size: 10px;}

        @media screen and (max-width: 572px)
        {
          font-size: 8px;}


          &__nom 
          {
           margin-right: auto;
           margin-bottom: 20px;
           width: 90%;
           text-align: left;


           @media screen and (max-width: 572px)
           {
            width: 100%;

            text-align: center;    }              

            @media screen and (max-width: 425px)
            {
              margin-bottom: 5px;}

            }  

          }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin: 40px 0;

  }
  .categorie__titre h3 span{
    display: inline-block;
    position: relative;
    &::after{
      content:'';
      display: block;
      position: relative;
      width: auto;
      transform: scalex(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color-primary;
      transform-origin: bottom right;
      transition: transform .35s ease-out;

    }
    &:hover{
      display: inline-block;
      position: relative;
    }
    &:hover::after{
      transform: scalex(1);
      transform-origin: bottom left;
    }
  }
.fa-music {
    background: -webkit-gradient(linear, left top, left bottom, from(#D88530), to(#F05561));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }



                                        