$background-secondary : #569C87;
$color-primary:#FCCB44;
$bg-1 :#FCE1DD;
$bg-2 :#FEF5FF;
$bg-3 :#F9F9F9;
$bg-4 :#FDFFFD;
$font-primary:'Montserrat', sans-serif;
$font-1:'Niconne', cursive;
$font-2:'Croissant One', cursive;
$font-3:'Niconne', cursive;
$font-4:'Kaushan Script', cursive;
$font-5:'Tillana', cursive;
$font-6:'Merriweather', serif;
$font-7:'Bad Script', cursive;
$color-1:#60393D;
$color-2: #D88530;
$color-3: #4791F3;
$color-4:#C0E0BA;
$clr-shadow:#D6D5D4;
$color-21:#F05561;