
body{
	display: flex;
	flex-direction: column;
	margin: auto;
background-color: #569C87;
color:#FCCB44 ;
justify-content: center;
text-align: center;

}
p{
	width: 70%;
	text-align: left;
	margin: auto;
	margin-bottom: 5%;

}