@import '_variable.scss','_mixin.scss';
@keyframes ellipsis {
	0% {
		width: 0;
	}

	100% {
		width: 0.9em;
	}
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

*
{
	margin : 0;

}


.head-bar{
	background-color: $background-secondary;
	display: flex;
	justify-content: center;
	height:100px;
	img {
		height: 75px;
		width: 500px;
		padding-top: 20px;
	}
}


main 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.resto-note{
	@include box-shadow;
	@include card-style;

	a{
		text-decoration: none;
		color:$color-1;
		@include hover;
	}
	background-color:$bg-1;
	h2{font-family: $font-1;}
	h3{font-family: $font-5;	}
	font-size:50px;}
	.fa-music{
		background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-21));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.resto-chic{
		@include box-shadow;
		@include card-style;
		a{
			text-decoration: none;
			h2{	-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: -webkit-linear-gradient(left,  red, blue);}

				h3{	color:$color-2;
					font-size:50px;}
					@include hover;
				}
				background-color:$bg-2;
				h2{font-family: $font-2;
					font-size: 30px;}
					h3{font-family: $font-6}
				}
				.resto-delice{
					@include box-shadow;
					@include card-style;
					a{
						text-decoration: none;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-image: -webkit-linear-gradient(left, blue,$color-3);
						@include hover;
					}
					background-color:$bg-3;
					h2{font-family:$font-3;}
					h3{font-family: $font-7;
						font-size:50px;
					}
				}
				.resto-palette{
					@include box-shadow;
					a{
						text-decoration: none;
						text-decoration: none;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-image: -webkit-linear-gradient(left, green,$color-4);
						@include hover;

					}
					@include card-style;
					background-color:$bg-4;
					h2{font-family:$font-4;}
					h3{font-family: $font-7;
						font-size:50px;}

					}

					.annonce 
					{
						@include box-shadow;
						height: 50px;
						width: 300px;
						border-radius: 15px;
						position: relative;

						display: flex;
						justify-content: center;

						margin :100px auto;
						font-size: 30px;
						background-color: $background-secondary;

						border: 0.3px solid $color-primary;
						@include font;
						p {
							margin: auto;
							&::after{	content: "\2026";
								position: absolute;
								padding-left: 5px;
								overflow: hidden;
								animation: ellipsis steps(4) 1.3s infinite;}
							}
						}
						.footer-bar
						{

							background-color: $background-secondary;
							display: flex;
							flex-direction: row;
							position: fixed;
							bottom: 0;
							right: 0;
							left: 0;
							width: 100%;
							justify-content: space-between;
							border-top: 0.5px solid $color-primary;
							&__link{

								margin: 20px 5px;
								&:hover {
									animation: shake 0.5s infinite;

								}
								a {
									text-decoration: none;
									@include font;	
								}
							}
						}