@keyframes ellipsis {
  0% {
    width: 0; }
  100% {
    width: 0.9em; } }
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
* {
  margin: 0; }

.head-bar {
  background-color: #569C87;
  display: flex;
  justify-content: center;
  height: 100px; }
  .head-bar img {
    height: 75px;
    width: 500px;
    padding-top: 20px; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.resto-note {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  font-size: 40px;
  background-color: #FCE1DD;
  font-size: 50px; }
  .resto-note a {
    text-decoration: none;
    color: #60393D;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-note a:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .resto-note h2 {
    font-family: "Niconne", cursive; }
  .resto-note h3 {
    font-family: "Tillana", cursive; }

.fa-music {
  background: -webkit-gradient(linear, left top, left bottom, from(#D88530), to(#F05561));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.resto-chic {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  font-size: 40px;
  background-color: #FEF5FF; }
  .resto-chic a {
    text-decoration: none;
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-chic a h2 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, red, blue); }
    .resto-chic a h3 {
      color: #D88530;
      font-size: 50px; }
    .resto-chic a:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .resto-chic h2 {
    font-family: "Croissant One", cursive;
    font-size: 30px; }
  .resto-chic h3 {
    font-family: "Merriweather", serif; }

.resto-delice {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  font-size: 40px;
  background-color: #F9F9F9; }
  .resto-delice a {
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, blue, #4791F3);
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-delice a:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .resto-delice h2 {
    font-family: "Niconne", cursive; }
  .resto-delice h3 {
    font-family: "Bad Script", cursive;
    font-size: 50px; }

.resto-palette {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  height: 600px;
  width: 450px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  font-size: 40px;
  background-color: #FDFFFD; }
  .resto-palette a {
    text-decoration: none;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, green, #C0E0BA);
    transform: scale(0.8);
    transition: transform 400ms; }
    .resto-palette a:hover {
      transform: scale(1.05);
      filter: brightness(110%); }
  .resto-palette h2 {
    font-family: "Kaushan Script", cursive; }
  .resto-palette h3 {
    font-family: "Bad Script", cursive;
    font-size: 50px; }

.annonce {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  font-size: 30px;
  background-color: #569C87;
  border: 0.3px solid #FCCB44;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #FCCB44; }
  .annonce p {
    margin: auto; }
    .annonce p::after {
      content: "\2026";
      position: absolute;
      padding-left: 5px;
      overflow: hidden;
      animation: ellipsis steps(4) 1.3s infinite; }

.footer-bar {
  background-color: #569C87;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  border-top: 0.5px solid #FCCB44; }
  .footer-bar__link {
    margin: 20px 5px; }
    .footer-bar__link:hover {
      animation: shake 0.5s infinite; }
    .footer-bar__link a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      color: #FCCB44; }

/*# sourceMappingURL=_base-style.css.map */
