@keyframes ellipsis {
  0% {
    width: 0; }
  100% {
    width: 0.9em; } }
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
* {
  margin: 0; }

.head-bar {
  background-color: #569C87;
  display: flex;
  justify-content: center;
  height: 100px; }
  .head-bar img {
    height: 75px;
    width: 500px;
    padding-top: 20px; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  main .line-break {
    width: 100%; }

.resto-prev a {
  transform: scale(0.8);
  transition: transform 400ms; }
  .resto-prev a:hover {
    transform: scale(1.05); }

.resto-note {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  font-size: 25px;
  height: 450px;
  width: 300px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FCE1DD;
  font-family: "Cabin", sans-serif; }
  .resto-note a {
    text-decoration: none;
    color: #60393D; }

.resto-chic {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  font-size: 25px;
  height: 450px;
  width: 300px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FEF5FF;
  font-family: "Lora", serif; }
  .resto-chic a {
    text-decoration: none;
    color: #DB9045; }

.resto-delice {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  font-size: 25px;
  height: 450px;
  width: 300px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  font-family: "Dancing Script", cursive, sans-serif; }
  .resto-delice a {
    text-decoration: none;
    color: #4791F3; }

.resto-palette {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  text-align: center;
  font-size: 25px;
  height: 450px;
  width: 300px;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FDFFFD;
  font-family: "Lobster", cursive, sans serif; }
  .resto-palette a {
    text-decoration: none;
    color: #C0E0BA; }

.annonce {
  box-shadow: 0px 10px 10px 0px #D6D5D4;
  height: 50px;
  width: 300px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 80px auto;
  font-size: 30px;
  background-color: #569C87;
  border: 0.3px solid #FCCB44;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #FCCB44; }
  .annonce p::after {
    content: "\2026";
    position: absolute;
    padding-left: 5px;
    overflow: hidden;
    animation: ellipsis steps(4) 1.3s infinite; }

.footer-bar {
  background-color: #569C87;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  border-top: 0.5px solid #FCCB44; }
  .footer-bar__link:hover {
    animation: shake 0.5s infinite; }
  .footer-bar__link a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #FCCB44; }

/*# sourceMappingURL=_base-style.css.map */
