$background-secondary : #569C87;
$bg-1 :#FCE1DD;
$bg-2 :#FEF5FF;
$bg-3 :#F9F9F9;
$bg-4 :#FDFFFD;
$font-montserrat:'Montserrat', sans-serif;
$font-cabin:'Cabin', sans-serif;
$font-lora:'Lora', serif;
$font-dancing:'Dancing Script', cursive , sans-serif;
$font-lobster:'Lobster', cursive, sans serif;
$color-1:#60393D;
$color-2: #DB9045;
$color-3: #4791F3;
$color-4:#C0E0BA;




@mixin font {

	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #FCCB44;

}
@mixin card-style
{
	text-align: center;
	font-size: 20px;
	height: 450px;
	width: 300px;
	justify-content: center;
	margin: 20px;
	display: flex;
	flex-direction: column;
}
*{
	margin : 0;

}


.head-bar{
	background-color: $background-secondary;
	display: flex;
	justify-content: center;
	height:100px;
	img {
		height: 75px;
		width: 500px;
		padding-top: 20px;
	}

	
	

}


main 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.line-break {
		width: 100%;



	}
	

}


.resto-prev{
	a {	transform: scale(1);
		transition: transform 400ms;
		&:hover {
			transform: scale(1.1);}

		}


	}


	.resto-note{
		a{
			text-decoration: none;
			color:$color-1;

		}
		@include card-style;
		background-color:$bg-1;
		font-family: $font-cabin;

		
	}
	.resto-chic{
		a{
			text-decoration: none;
			color:$color-2;

		}
		@include card-style;
		background-color:$bg-2;
		font-family: $font-lora;
	}
	.resto-delice{
		a{
			text-decoration: none;
			color:$color-3;

		}
		@include card-style;
		background-color:$bg-3;
		font-family:$font-dancing;

	}
	.resto-palette{
		a{
			text-decoration: none;
			color:$color-4;

		}
		@include card-style;
		background-color:$bg-4;
		font-family:$font-lobster;


	}




	.annonce 
	{
		height: 50px;
		width: 300px;
		border-radius: 20px;
		position: relative;

		display: flex;
		justify-content: center;
		margin: auto;
		margin-bottom: 50px;
		font-size: 30px;
		background-color: $background-secondary;
		@include font;
	}








@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


	.footer-bar
	{

		background-color: $background-secondary;
		display: flex;
		flex-direction: row;


		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		justify-content: space-between;


		

		&__link{
			&:hover {
				animation: shake 0.5s infinite;

			}



			padding: 0px 10px ;
			a {
				text-decoration: none;
				@include font;	



			}


		}

	}

	
