@import '_variable.scss','_mixin.scss';
.head-bar{
		background-color: $background-secondary;
		display: flex;
		justify-content: center;
		height:100px;
		img {
			height: 75px;
			width: 500px;
			padding-top: 20px;
		}




	}
.fa-music{
		
	
		background: -webkit-gradient(linear, left top, left bottom, from($color-2), to(#F05561));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
			}

.footer-bar
		{

			background-color: $background-secondary;
			display: flex;
			flex-direction: row;


			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			justify-content: space-between;



			border-top: 0.5px solid $color-primary;
			&__link{

				margin: 20px 5px;
				&:hover {
					animation: shake 0.5s infinite;

				}

				a {
					text-decoration: none;
					@include font;	



				}


			}

		}


